$navbar-brand-color: $primary;
$navbar-color: $text-color;

.navbar{
  position: relative;
  margin-left: -$space-default;
  margin-right: -$space-default;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-brand{
    display: block;
    font-weight: 500;
    padding: 10px $space-m;
    color: $navbar-brand-color;

    &:hover,
    &:focus{
      color: darken($navbar-brand-color, 10%);
    }
  }

  .navbar-nav{
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;

    > li > a{
      color: $navbar-color;
      display: block;
      padding: 10px $space-m;

      &:hover,
      &:focus{
        color: darken($navbar-color, 10%);
      }
      
      .is-dark &{
        color: text-contrast($bg-dark);
      }
    }
  }
}

.navbar-left,
.navbar-right{
  display: flex;
  align-items: center;
}

.navbar-link{
  position: relative;
  padding: 10px $space-m;
  color: #fff;

  &:hover,
  &:focus{
    color: darken(#fff, 10%);
  }

  img{
    vertical-align: middle;
    width: 20px;
  }

  [class*=icon-]{
    font-size: 24px;
  }
}

.navbar-badge{
  position: absolute;
  right: 10px;
  top: 4px;
  font-size: 12px;
  line-height: 16px;
  width: 16px;
  border-radius: 100%;
  text-align: center;
  background-color: $danger;
}