.dropdown{
  position: absolute;
  margin:2px 0 0;
  padding: 0;
  list-style: none;
  background-color: #f4f4f4;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  width: 100%;
  z-index: 1000;
  border: 1px solid #e6e6e6;

  > li {
    + li {
      border-top: 1px solid #e6e6e6;
    }
    > a{
      position: relative;
      display: block;
      height: 44px;
      line-height: 44px;
      padding: 0 $space-m;
      color: #656b6f;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover,
      &:focus{
        background-color: #eee;
      }
    }
  }
}