@font-face {
  font-family: 'effra';
  src: url('../app/assets/fonts/Effra_W_Bd.eot');
  src: url('../app/assets/fonts/Effra_W_Bd.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'effra';
  src: url('../app/assets/fonts/Effra_W_Lt.eot');
  src: url('../app/assets/fonts/Effra_W_Lt.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'effra';
  src: url('../app/assets/fonts/Effra_W_Rg.eot');
  src: url('../app/assets/fonts/Effra_W_Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Body text
// -----------------------------------
b,strong{
  font-weight: 600;
}


p {
  margin-top: 0;
  margin-bottom: 10px;
  opacity: .6;
}

