// Container
// --------------------------------------------------

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: $space-default;
  padding-right: $space-default;
}

// Vertical Space
// --------------------------------------------------

.v-space{
  padding-top: 64px;
  padding-bottom: 64px;
  @media (min-width: 992px){
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.m0{
  margin: 0;
}

// Alignment
// --------------------------------------------------

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}


// Contextual backgrounds
// --------------------------------------------------

.is-dark{
  background-color: $bg-dark;

  .primary-title,
  .secondary-title,
  p{
    color: text-contrast($bg-dark);
  }
}