// Container
// --------------------------------------------------

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: $space-default;
  padding-right: $space-default;
}

// Overlay
// --------------------------------------------------

.has-overlay{
  &:before{
    content: '';
    display: block;
    background-color: rgba(#000, .6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

// Vertical Space
// --------------------------------------------------

.v-space{
  padding-top: 64px;
  padding-bottom: 64px;
  @media (min-width: 992px){
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

// Alignment
// --------------------------------------------------

.text-center{
  text-align: center;
}


// Contextual backgrounds
// --------------------------------------------------

.is-dark{
  background-color: $bg-dark;

  .primary-title,
  .secondary-title,
  p{
    color: text-contrast($bg-dark);
  }
}

.relative{
  position: relative;
  .settings{
    position: absolute;
    top: 21px;
    right: 21px;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    background: rgba(3,8,15,.9);
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    animation-fill-mode: both;
    animation-duration: .15s;
    transition: opacity .15s ease-in,transform .15s ease-in,color .1s linear;
  }
  &:hover{
    .settings{
      opacity: 1;
      visibility: visible;
    }
  }
}
section{
  position:relative;


}