// Container
// --------------------------------------------------

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: $space-default;
  padding-right: $space-default;
}

// Vertical Space
// --------------------------------------------------

.v-space{
  padding-top: 64px;
  padding-bottom: 64px;
  @media (min-width: 992px){
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.v-space-s{
  padding-top: 48px;
  padding-bottom: 48px;
}


.m0{
  margin: 0;
}

// Alignment
// --------------------------------------------------

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

// Contextual text
// --------------------------------------------------
$colors: (
  primary: ($primary),
  success: ($success),
  info:    ($info),
  warning: ($warning),
  danger:  ($danger)
);

@each $color, $properties in $colors{
  .text-#{$color}{
    color: nth($properties, 1)!important;
  }
}


// Contextual backgrounds
// --------------------------------------------------

.is-dark{
  background-color: $bg-dark;

  .primary-title,
  .secondary-title,
  p{
    color: text-contrast($bg-dark);
  }
}



 //////////////////////////////////////////////
 .owl-theme{
    margin-left: -8px;
   .owl-item > .text-center{
    margin: 16px 8px;
   }
 }

.animation-enter {
  bottom: 0;
  // transform: scale(0);
  transform: translate3d(100%, -100%, 0);
}
.animation-enter-active {
  // transform: scale(1.1);
  transform: translate3d(0, 0, 0);
}
.animation-leave {
  // transform: scale(1.1);
  transform: translate3d(0, 0, 0);
}
.animation-leave-active {
  bottom: 0;
  // transform: scale(0);
  transform: translate3d(100%, -100%, 0);
}