$hero-bgc: #000;
$hero-nav-color: text-contrast($hero-bgc);

.hero{
  width: 100%;
  min-height: 680px;
  background-color: $hero-bgc;
  color: text-contrast($hero-bgc);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Hero image
// --------------------------------------------------

.hero-image{
  flex: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: 50% 50% no-repeat;
  background-size: cover;
  transition: all .3s ease-in;
}

// Hero body
// --------------------------------------------------

.hero-body{
  position: relative;
  text-align: center;
}

.hero-foot{
  position: relative;
  padding-top: $space-m;
  padding-bottom: $space-m;
}

// Owl Carousel Owl Demo Theme
// --------------------------------------------------

.owl-theme .owl-controls{
  margin-top: $space-m;
  text-align: center;
}
// Styling Pagination
.owl-theme .owl-controls .owl-page{
  display: inline-block;
  zoom: 1;
}
.owl-theme .owl-controls .owl-page span{
  display: block;
  width: 10px;
  height: 10px;
  margin: $space-xs;
  opacity: 0.5;
  border-radius: 20px;
  background: #a3a2a0;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  opacity: 1;
}
