@import "../scss/Form";
@import "../scss/Dropdown";
@import "./datepicker";

#search-mask{
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px){
    flex-wrap: inherit;
  }

  .icon-search{
    display: none;
  }

  .form-control,
  .bootstrap-typeahead,
  .form-oprions{
    position: relative;
    flex-grow: 1;
    @media screen and (max-width: 768px){
      width: 100%;
    }
  }
  
  input[type="submit"],
  .btn{
    border-radius: 0 3px 3px 0;
    width: auto;
    flex-grow: 0;

    @media screen and (max-width: 768px){
      border-radius: 0 0 3px 3px;
    }
  }

  .bootstrap-typeahead{
    input[type="text"]{
      border-radius: 0;
    }
    &:first-child{
      input[type="text"]{
        border-radius: 3px 0 0 3px;
        @media screen and (max-width: 768px){
          border-radius: 3px 3px 0 0;
        }
      }
    }
  }
}

.select-options{
  width: 100%;
  display: block;
  background-color: #FFF;
  height: 54px;
  padding: 0 16px;
  line-height: 54px;
  text-align: left;
  color: lighten($text-color, 20%);
  border: 1px solid #ccc;

  &:focus{
    outline: 0;
  }
  
  &:before{
    content: '\E7FD';
    font-family: 'et-line';
    color: $success;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
  }

  &:after{
    position: absolute;
    top: 50%;
    right: 17px;
    font-size: 5px;
    transform: translateY(-.5em);
    content: '';
    display: block;
    border-top: 5px solid #656b6f;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }

  .class-type{
    position: relative;
    display: inline-block;
    margin-left: $space-m;
    padding-left: $space-m;

    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -7px;
      width: 1px;
      height: 16px;
      background-color: #ccc;
    }
  }
}

.select-passengers{
  padding: 10px 16px;
  font-size: 14px;
  display: flex;
  align-items:center;
  justify-content: space-between;

  b > span{
    font-weight: 400;
    color: #999;
  }
}

#search-mask{
  input[type="text"],
  .select-options,
  .DateRangePickerInput{
    border-width: 0 0 0 1px;

    @media screen and (max-width: 768px){
      border-width: 1px 0 0 0;
    }
  }
}

.v2 #search-mask{
  background-color: #fff;
  border-radius: 32px;
  align-items: center;
  padding-right: 4px;

  input[type="text"]:not(.number-spinner),
  .select-options{
    height: 64px;
    line-height: 64px;
  }

  .DateInput{
    height: 64px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .bootstrap-typeahead{
    &:first-child input[type="text"]{
      border-radius: 32px 0 0 32px;
    }
  }

  input[type="submit"],
  .btn{
    position: relative;
    padding: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    color: $success;

    .icon-search{
      color: #fff;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
    }
  }
}

// Dropdown transition
// --------------------------------------------------
.dropdown-enter {
  opacity: 0;
  transform: translate3d(0,10px,0);
  
  &.dropdown-enter-active {
    opacity: 1;
    transform: none;
    transition: opacity .15s ease-in,transform .15s ease-in;
  }
}

.dropdown-leave {
  opacity: 1;
  transform: none;

  &.dropdown-leave-active {
    opacity: 0;
    transform: translate3d(0,10px,0);
    transition: opacity .15s ease-out,transform .15s ease-out;
  }
}