#features{
  .grid-item{
    @media screen and (max-width: 767px){
      width: 100%;
      flex: none;
    }
  }

  .grid-block-item{
    position: relative;
    div[contenteditable]{
      outline: none;
      cursor: text;
    }
    &:hover,
    &:focus{
      cursor: pointer;
      outline-style: dashed;
      outline-color: $edit-color;
      outline-width: thin;
    }
  }

  .feature-icon{
    margin-bottom: 24px;
    color: $success;
    cursor: pointer;
    font-size: 56px;
    line-height: 1;
  }
}